workflow.json
{
  "name": "Daily Email Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "mailbox": "INBOX",
        "limit": 50,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "format": "resolved",
          "receivedAfter": "={{ $now.minus(1, 'days').format('YYYY-MM-DD') }}"
        }
      },
      "id": "imap-node",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        440,
        240
      ],
      "credentials": {
        "imap": {
          "id": "CREATE_NEW_IMAP_CREDENTIAL_AND_SELECT_IT_HERE",
          "name": "Your Email Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = items.map(item => {\n  const subject = item.json.subject || '(No Subject)';\n  const from = item.json.from || 'Unknown';\n  // Basic text cleaning\n  const text = (item.json.text || '').substring(0, 500); // Limit length per email to save tokens\n  return `From: ${from}\\nSubject: ${subject}\\nContent: ${text}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { email_summary_input: emails, total_count: items.length } }];"
      },
      "id": "format-data",
      "name": "Format Emails for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ { \"parts\": [{ \"text\": \"You are a personal assistant. Read the following emails and provide a daily summary.\\n1. Total count of emails.\\n2. Identify any potential spam or ads.\\n3. Provide a bulleted summary of the important emails.\\n\\nEmails:\\n\" + $json.email_summary_input }] } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-api",
      "name": "Gemini AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-notify",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Format Emails for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Emails for AI": {
      "main": [
        [
          {
            "node": "Gemini AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Summary": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "f0000000-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00000000000000000000000000000000"
  }
}
